@media only screen and (max-width: 600px) {
  .parceiros {
    margin: unset !important;
  }
  .parceiros-conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .map-right img {
    width: 100% !important;
    height: auto;
  }

  .segment-card {
    color: black;
    width: 100%;
    margin-bottom: 15px !important;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .saibaMais {
    float: right;
    margin: unset !important;
    font-size: unset !important; 
}
  
  .banner h1 {
    width: 100%;
    font-size: 6vw;
  }
  
  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    display: flex !important;
    flex-direction: column-reverse;
    width: 100% !important;
  }

  .grid-box {
    display: flex !important;
    place-items: center;
    color: white;
    flex-wrap: wrap !important;
    flex-direction: row !important;
  }

  .ui.fluid.card {
    padding: 0px;
    margin: 0 !important;
}
  
  .flex-dir {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
}