body{
  overflow-x: hidden;
}

.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/banners/impacto-monitoramento-capa.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
  width: 80%;
  height: 550px;
  margin: 5% 0 5% 10%;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-family: 'Outfit';
  font-weight: 500;
  font-size:3vw;
  text-transform: uppercase;
  width: 500px;
  
  color: #FFFFFF;
}

.section {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.section p {  
  font-family: 'Outfit';
  font-style: normal;
  font-size: 30px;
  width: 45%;
  line-height: 40px;
  
  color: #FFFFFF;
}

.left-text {
  font-weight: 200;
}

.right-text{
  text-align: right;
  font-weight: 600;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
  display: flex;
}


.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  color: black;
}

.grid-box {
  display: grid;
  place-items: center;
  color: white;
}

.padding-content {
  padding: 40px;
}

.grid-group {
  display: flex;
  place-items: center;
  margin-top: 30px;
  width: 100%;
}

.card-1 {
  padding: 20px;
  width: 45%;
}

.card-1 .img {
  height: 100%;
  width: 90%;
}

.header-1 {
  font-size: 2.5em;
  line-height: 38px;
  font-weight: bold;
}
.header-2 {
  font-size: 20px;
}

.segment-card {
  color: black;
  width: 100%;
  margin-bottom: 15px !important;
}

.buttom-box {
  float: right;
  display: grid;
}

.margineded {
  margin-top: 20px !important;
}

.content {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 30px;
}

.content2 {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 20px;
}

.medium-text {
  font-size: 18px;
}

.justified-center {
  justify-content: center;
}

.height-100 {
  height: 100% !important;
}

.subheader {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 20px;

  color: grey;
}

.list-group {
  display: flex;
}

.enterprises-under {
  padding-top: 20px;
}

.image {
  float: left;
}

.image img {
  height: 70px;
  margin-right: 10px;
  width: auto;
}

.text-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.how-it-works {
  width: 100%;
}

.centerlized {
  margin: 0 auto;
}

.ui.fluid.card {
  padding: 0px;
  margin: 40px;
}


#cardAmazoniaImage {
  float: right;
  margin: 25px;
  
  height: 400px;
  width: auto;
}

#cardWomansImpact {
  float: left;
  margin: 25px;

  height: auto;
  width: 400px;
}

#building2Image {
  float: left;
  margin-left: 30px;
  
  height: 400px;
  width: auto;
}

#cardAmazoniaImage2 {
  float: right;
  margin: 20px;
  
  height: 300px;
  width: auto;
}

#sdoImage {
  float: right;
  margin: 20px;

  height: 300px;
  width: auto;
}

#onuCC {
  height: 100px;
  width: auto;

  filter: brightness(0%);
}

#basfImage {
  float: right;
  margin: 10px;

  height: 300px;
  width: auto;
}

.saibaMais {
  float: right;
  margin-top: 29%;
  margin-left: -15%;
  font-size: 1.3vw;
}

.text {
  font-size: 1vw;
  line-height: 20px;
  margin-left: 3%;
}

.terceiro-setor h1 {
  color: black;
  font-family: 'Outfit';
  font-weight:400;
  text-transform: uppercase;
  padding-left: 2%;
}

.terceiro-setor p {
  padding-left: 2%;
}

#icons-impact {
  width: 100%;
}

.name {
  font-weight: 400;
  font-family: 'Outfit';
  text-transform: uppercase;
}

.parceiros-conteudo {
  display: flex;
}

.text-left {
  float: left;
  width: 50%;
}

.map-right {
  float:right;
  width: 50%;
}

.map-right img {
  width: 550px;

}

.parceiros {
  color: black;
  background-color: white;
  margin: auto;
  padding: 5%;
  width: 80%;
  border-radius: 13px;
}

.text-left button {
  border-radius: 25px;
}

.botoes {
  width: 80%;
}

.onu {
  width: 50%;
  background: #D9D9D9 !important;
}

/* CELULAR */
@media only screen and (max-width: 600px) {
  body {
    padding: 1%;
  }
  .padding-content{
    width: 100vw;
    padding: 0;
  }
  .parceiros {
    width: 100vw;
    border-radius: 0%;
    margin-bottom: 5%;
    padding: 5%;
  }
  .parceiros-conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .map-right img {
    width: 100% !important;
    height: auto;
  }

  .segment-card {
    color: black;
    width: 100%;
    margin-bottom: 15px !important;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .saibaMais {
    float: right;
    margin: unset !important;
    font-size: unset !important; 
}
  
  .banner h1 {
    width: 100%;
    font-size: 6vw;
  }
  
  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    display: flex !important;
    flex-direction: column-reverse;
    width: 100% !important;
  }

  .grid-box {
    display: flex !important;
    place-items: center;
    color: white;
    flex-wrap: wrap !important;
    flex-direction: row !important;
  }
  .grid-group {
    display: flex;
    place-items: center !important;
    margin-top: 30px;
    width: 100%;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .ui.fluid.card {
    padding: 0px;
    margin: 0 !important;
}
  
  .flex-dir {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }

  #basfImage {
    float: right;
    margin: 10px;
    height: 200px !important;
    width: auto;
  }
  #cardAmazoniaImage2 {
    float: unset !important;
    margin: 0 !important;
    height: auto !important;
    width: 80vw !important;
  }
  #building2Image {
    float: unset !important;
    margin-left: 0 !important;
    height: 400px;
    width: auto;
  }
  
  .left-text {
    font-size: 4vw !important;
  }
  .right-text {
    font-size: 4vw !important;
  }

  #cardAmazoniaImage {
    width: 350px;
    height: auto;
  }

  #cardWomansImpact {
    width: 300px;
  }

  #sdoImage {
    height: auto;
    width: 350px;
  }

  .text {
    font-size: 3vw;
  }

  .content2 {
    width: 100vw;
  }

  .header-1 {
    text-align: center !important;
  }

  .onu {
    width: 100% !important;
  }

  .consorcio {
    width: 100vw !important;
    text-align: center;
  }

  #3setor {
    width: 100%;
  }
}